body {
  background-color: #855415;
  font-family: "Instrument Serif", serif;
  color: #f8f4f4;
  font-size: 17px;
  line-height: 1.6;
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

h1, h2, h3 {
  color: #fff;
  text-align: center;
  font-family: "League Gothic", sans-serif;
}

.league-gothic-regular {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

img {
  max-width: 100%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  margin: 0 auto;
}
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Typography */
h1 {
  font-size: 56px;
}

h2 {
  font-size: 43px;
}

h3 {
  font-size: 30px;
}

/* Class selector */
.ingredients-list {
  background-color: rgba(255, 255, 255, 0.07);
  padding: 16px;
  margin-left: 20px;
  border-radius: 8px;
}
.ingredients-list ul {
  list-style-position: inside;
  padding-left: 0;
}
/* Descendant selector */
section p {
  margin-bottom: 12px;